<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body style="font-family:Arial; font-size:12pt; color:#333; margin:40px;">
    <h2 style="text-align:center;">Potwierdzenie zakupu biletu lotniczego</h2>
    <hr />

    <p><strong>Imię i nazwisko:</strong> {{FirstName}} {{LastName}}</p>
    <p><strong>PESEL:</strong> {{PESEL}}</p>

    <hr />

    <p><strong>Numer Zakupu:</strong> {{TicketID}}</p>
    <p><strong>Data odlotu:</strong> {{DepartureDate}}</p>
    <p><strong>Miejsce odlotu:</strong> {{FlightFrom}}</p>
    <p><strong>Data przylotu:</strong> {{ArrivalDate}}</p>
    <p><strong>Miejsce przylotu:</strong> {{FlightTo}}</p>
    <p><strong>Status zakupu:</strong> {{Status}}</p>

    <br /><br />
    <p style="text-align:center;">Dziękujemy za zakup. Życzymy udanego lotu! ✈️</p>
</body>
</html>
